body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../images/crystal-cave-background.jpg);
    background-attachment: fixed;
    color: white;
}

h1{
    font-family: 'Monoton', cursive;
    font-size: 100px;
    color: whitesmoke;
}

img{
    width: 20%;
}

div{
    margin: 20px;
}

footer{
    height: 20px;
    background-color: #0083ff;
    color: white;
}